/* Наш Шрифт 
************* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #1f1f1f;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1404px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
button {
  font-family: 'Roboto', sans-serif;
  background: none;
  border: none;
  outline: none;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
textarea {
  border: none;
  background: none;
  outline: none;
}
/* Header 
**************/
.btn--size {
  font-size: calc(8px + 0.9vw);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 60px;
  height: 60px;
}
.logo__text a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: calc(12px + 0.9vw);
  line-height: 121%;
  padding-left: 24px;
  color: #1f1f1f;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin-left: 20px;
}
.nav__link {
  font-family: 'Roboto', sans-serif;
  color: #1f1f1f;
  font-weight: 500;
  font-size: calc(6px + 0.9vw);
  line-height: 121%;
  text-decoration: none;
  margin-right: 3%;
  transition: 0.2s linear background-color, 0.2s linear border-radius;
}
.nav:last-child {
  margin-right: 0;
}
.nav__link:hover {
  background: #8ad2f5;
  border-radius: 10px;
  width: auto;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}
.link--active {
  background: #8ad2f5;
  border-radius: 10px;
  width: auto;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}
.header__subscribe {
}
.subscribe {
  padding: 8px 25px;
  font-family: 'Roboto', sans-serif;
  line-height: 121%;
  font-weight: 500;
  cursor: pointer;

  border: 2px solid #8ad2f5;
  box-sizing: border-box;
  border-radius: 16px;
  transition: 0.2s linear background-color;
}
.subscribe:hover {
  background-color: #8ad2f5;
}
/* Intro
**************/
.subtext {
  font-size: calc(3px + 0.9vw);
  font-weight: 500;
}
.intro__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 166px;
}
.intro__content {
  display: flex;
  flex-direction: column;
  width: 769px;
}
.intro__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.intro__title {
  font-weight: 600;
  font-size: calc(40px + 0.9vw);
  line-height: 110%;
  margin-bottom: 32px;
}
.demo {
  margin-left: 4%;
}
.highlight {
  padding-right: 1%;
  padding-left: 1%;
  background: #8ad2f5;
  border-radius: 25px;
}
.intro__text {
  border-radius: 20px;
  border: 2px solid rgba(138, 174, 245, 0.3);
  width: 385px;
  height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}
.intro__text:first-child {
  margin-left: 0;
}
.intro__subtitle {
  font-weight: 500;
  line-height: 130%;
  width: 335px;
}
.intro__gallery {
  position: relative;
  width: 535px;
  overflow-x: clip;
}
.intro__man {
  /* width: 100%; */
  width: 363px;
  height: 448px;
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 238px;
  bottom: 127px;
  z-index: -1;
}
.intro__screen {
  position: relative;
  width: 545px;
  height: 330px;
  z-index: 1;
}

/* Request 
***************/
.request {
  margin-bottom: 15%;
}
.request__inner {
  width: 74.6438746439%;
  height: auto;
  border: 2px solid #d0daee;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  margin-top: 12%;
  padding-bottom: 5%;
}
.request__blocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.request__title {
  font-size: calc(32px + 1vw);
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 24px;
}
.contact__face {
  width: 449px;
  min-width: 300px;
  height: 59px;
  padding-left: 6.6815144766%;
  padding-top: 4%;

  background: #f4f4f4;
  border-radius: 20px;
  margin-bottom: 20px;
}
/* .contact__face:last-child {
  margin-bottom: 0;
} */
.contact__text {
  color: rgba(31, 31, 31, 0.2);
  line-height: 115%;
  text-align: left;
}
.request__task {
  width: 359px;
  margin: 0 10px 10px;
  height: 137px;

  padding-top: 16px;
  padding-left: 30px;

  overflow-y: auto;
  padding-bottom: 10px;

  background: #f4f4f4;
  border-radius: 20px;
}
.task__text {
  width: 275px;
  max-width: 100%;
  height: 86px;
  resize: none;

  text-align: left;
  line-height: 115%;
  color: rgba(31, 31, 31, 0.2);
}
.request__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  width: 60px;
  height: 137px;

  background: #8ad2f5;
  border-radius: 20px;
}
.icon__send {
  width: 32px;
  height: 32px;
}

/* Booco solution
***********************/
.booco__solution {
  margin-bottom: 150px;
}
.booco__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  position: relative;
  top: 0;

  padding-top: 8%;
  padding-bottom: 8%;
}
.booco__block {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: 98.5%;

  background-image: url('./assets/img/filter.png');
  background-size: cover;

  filter: blur(6px) opacity(94%);
  max-width: 100%;
  z-index: -1;
}
.leaf1 {
  position: absolute;
  bottom: -57px;
  left: -149px;
  z-index: -3;
}
.leaf2 {
  position: absolute;
  top: -61px;
  right: 5px;
  z-index: -3;
}
.booco__title {
  font-weight: 500;
  font-size: 60px;
  font-size: calc(46px + 1vw);
  line-height: 110%;

  margin: 0 auto 100px;
  text-align: center;

  margin-bottom: 100px;
}
.booco__suptitle {
  font-size: calc(23px + 1vw);
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 32px;
}
.booco__subtext {
  font-size: calc(6.5px + 1vw);
  font-weight: 500;
  line-height: 130%;
}
.booco__text {
  width: 434px;
  height: auto;
  font-size: calc(23px + 1vw);

  margin-left: 4.7%;
}
.booco__gallery {
  position: relative;
  width: 648px;
  height: auto;
  overflow: hidden;
  padding-right: 22px;

  margin-right: 4.7%;
}
.screen__outer {
  max-width: 100%;
}
.screen__inner {
  position: absolute;
  bottom: -36px;
  right: -44px;
  max-width: 100%;
}
