/* Наш Шрифт 
************* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #1f1f1f;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1404px;
  width: 100%;
  margin: 0 auto;
}
button {
  font-family: 'Roboto', sans-serif;
  background: none;
  border: none;
  outline: none;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
/* Header 
**************/
.btn--size {
  font-size: calc(8px + 0.9vw);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 60px;
  height: 60px;
}
.logo__text a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: calc(12px + 0.9vw);
  line-height: 121%;
  padding-left: 24px;
  color: #1f1f1f;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin-left: 20px;
}
.nav__link {
  font-family: 'Roboto', sans-serif;
  color: #1f1f1f;
  font-weight: 500;
  font-size: calc(6px + 0.9vw);
  line-height: 121%;
  text-decoration: none;
  margin-right: 3%;
  transition: 0.2s linear background-color, 0.2s linear border-radius;
}
.nav:last-child {
  margin-right: 0;
}
.nav__link:hover {
  background: #8ad2f5;
  border-radius: 10px;
  width: auto;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}
.link--active {
  background: #8ad2f5;
  border-radius: 10px;
  width: auto;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}
.header__subscribe {
}
.subscribe {
  padding: 8px 25px;
  font-family: 'Roboto', sans-serif;
  line-height: 121%;
  font-weight: 500;

  border: 2px solid #8ad2f5;
  box-sizing: border-box;
  border-radius: 16px;
  transition: 0.2s linear background-color;
}
.subscribe:hover {
  background-color: #8ad2f5;
}
/* Intro
**************/
.subtext {
  font-size: calc(3px + 0.9vw);
}
.intro__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro__content {
  display: flex;
  flex-direction: column;
  width: 769px;
}
.intro__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.intro__title {
  font-weight: 600;
  font-size: calc(40px + 0.9vw);
  line-height: 110%;
  width: 81%;
  margin-bottom: 32px;
}
.demo {
  margin-left: 4%;
}
.highlight {
  padding-right: 1%;
  padding-left: 1%;
  background: #8ad2f5;
  border-radius: 25px;
}
.intro__text {
  border-radius: 20px;
  border: 2px solid rgba(138, 174, 245, 0.3);
  width: 385px;
  height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}
.intro__text:first-child {
  margin-left: 0;
}
.intro__subtitle {
  font-weight: 500;
  line-height: 130%;
  width: 335px;
}
.intro__gallery {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 756px;
}
.intro__man {
  transform: translate(36%, -23%);
  width: 363px;
  height: 448px;
  object-fit: cover;
  max-width: 100%;
}
.intro__screen {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 545px;
  height: 330px;
}
